*{
    padding: 0;
    margin: 0;
}
.App{
    border-radius: 20px;
    height: 90vh;
    width: 90vw;
    margin: 20px auto;
    display: flex;
    overflow: hidden;
}

.App .left{
    width: 30%;
    background-color: white;
}
.App .right{
    width: 70%;
    /* border: 1px solid black; */
    background-color: aliceblue;
}

.flex-all{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_chat_input{
    height: 80%;
    width: 90%;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
}

.chat_list{
    overflow-y: auto;
}

.chat_list .card{
    width: 100%;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
}

.chat_box{
    height: 100%;
}
.chat_container_cover{
    background-color: #d5e6f5;
}
.chat_container{
    width: 80%;
    margin: 5px auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat_head{
    height: 10%;
    display: flex;
    align-items: center;
}

.chat_head img{
    border-radius: 100%;
    height: 90%; 
    width: 60px; 
    margin-left: 5px;
}

.chat_bottom input{
    border-radius: 20px;
    padding-left: 10px;
}

.message_input{
    width: 90%;
    height: 80%;
    outline: none;
    border: none;
    font-size: 16px;
}
.chat_card_cover{
    margin: 15px 5px;
}
.chat_card{
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    min-width: 30%;
}

.chat_received{
    background-color: blueviolet;
    color: white;
}
.chat_sent{
    background-color: white;
    color: blueviolet;
    margin-left: 65%;
}

.login_input{
    width: 80%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
    margin: 10px 0;
    padding-left: 20px;
    background-color: white;
}

.login_page{
    width: 350px;
    border-radius: 20px;
    height: 60vh;
    margin: 0 auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    width: 180px;
}

.login_box{
    margin: 10px auto;
    width: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 232, 232);
}

body{
    background-color: #ABF1FF;
}

.login_btn{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: green;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 10px 0;
}

.search_bar{
    height: 10%;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.search_bar input{
    background-color: rgb(236, 232, 232);
}

@media only screen and (max-width: 500px) {

    .App{
        border: none;
        margin: 5px auto;
    }

    body{
        background-color: yellow;
    }

    .App .left{
        width: 90%;
        margin: 0 auto;
    }

    .App .right{
        display: none;
        width: 100%;
    }

    .chat_card{
        width: 45%;
    }

    .chat_head{
        height: 5%;
    }

    .chat_head img{
        width: 40px;
    }

}